

services:
  api:
    build: .
    container_name: fastapi_ecommerce
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=docker
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    restart: always

  db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
    command: ["redis-server", "--appendonly", "yes"]  
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: